:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  
  &.flex-1 {
    flex: 1;
  }
}

nav {
  flex-shrink: 0;
  overflow-y: auto;
  border-right: 1px solid #e5e7eb;
}

main {
  overflow-y: auto;
}
