<div
  class="overflow-hidden px-4 pb-3 pt-4 sm:px-6"
>
  <div
    class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between"
  >
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Sponsor Members
      </h3>
    </div>
  </div>

  <div class="max-w-full overflow-x-auto">
    <table class="w-full text-left">
      <thead class="border-y border-gray-100 dark:border-gray-800">
        <tr>
          <th
            class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400"
          >
            S.N.
          </th>
          <th
            class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400"
          >
            User Name
          </th>
          <th
            class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400"
          >
            Name
          </th>
          <th
            class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400"
          >
            Date
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
        @for (product of tableData; track $index) {
        <tr>
        <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ $index + 1 }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ product.userName }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ product.name }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ product.date }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
