<div class="relative p-6 bg-body z-1 sm:p-0">
  <div
    class="relative flex flex-col justify-center w-full h-screen lg:flex-row sm:p-0"
  >
    <ng-content></ng-content>
    <div
      class="items-center hidden w-full h-full lg:w-1/2 bg-sidebar lg:grid relative"
    >
      <div class="flex items-center justify-center z-1">
        <app-grid-shape />
        <div class="flex flex-col items-center max-w-xs">
          <a routerLink="/member" class="block mb-4">
            <img
              width="346"
              height="72"
              src="/assets/logo.jpeg"
              alt="Logo"
            />
          </a>
          <p class="text-center text-secondary-fg">
            Free and Open-Source Tailwind CSS Admin Dashboard Template
          </p>
        </div>
      </div>
    </div>
    <div class="fixed z-50 hidden bottom-6 right-6 sm:block">
      <app-theme-toggle-two />
    </div>
  </div>
</div>
