<app-page-breadcrumb pageTitle="Profile" />
<div
  class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] lg:p-6"
>
  <h3
    class="mb-5 text-lg font-semibold text-gray-800 dark:text-white/90 lg:mb-7"
  >
    Profile
  </h3>
  <div class="space-y-6">
    <div><app-user-meta-card /></div>

    <div class="grid grid-cols-12 gap-4 md:gap-6">
      <div class="col-span-12 lg:col-span-6">
        <div
          class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6"
        >
          <div
            class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between w-full"
          >
            <div class="w-full">
              <h4
                class="text-lg font-semibold text-gray-800 dark:text-white/90 mb-6"
              >
                Personal Details
              </h4>
              <div
                class="grid grid-cols-2 gap-4 xs:grid-cols-2 lg:gap-7 2xl:gap-x-32"
              >
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Name
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Mr. BIT SCHOLARS
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Birthday
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    01 Sep 2025
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Gender
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Male
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Marital status
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Married
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Family Remarks
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    NIL
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Father/Husband
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Company
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Mobile
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    +91-9270848764
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Registration
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    21 Sep 2025
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <div
          class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6"
        >
          <div
            class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between w-full"
          >
            <div class="w-full">
              <h4
                class="text-lg font-semibold text-gray-800 dark:text-white/90 mb-6"
              >
                Login & Bank Details
              </h4>
              <div
                class="grid grid-cols-2 gap-4 xs:grid-cols-2 lg:gap-7 2xl:gap-x-32"
              >
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Username
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Companyid
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Bank Name
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Rajendra P Chamangale
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    IFSC Code
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    BARB0AMALNE
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Account No
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    4254012
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Bank Address
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Amalner Branch
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Pan No.
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    ADFPC6790B
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Aadhar number
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    984229930655
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 lg:col-span-5 flex">
        <div
          class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6 w-full"
        >
          <div
            class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between"
          >
            <div>
              <h4
                class="text-lg font-semibold text-gray-800 dark:text-white/90 mb-6"
              >
                Nominee Details
              </h4>
              <div
                class="grid grid-cols-1 gap-4 xs:grid-cols-1 lg:gap-7 2xl:gap-x-32"
              >
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Nominee Name
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Mr Abhishek Bhavsar
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Nominee Relation
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    SELF
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 lg:col-span-7">
        <div
          class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6"
        >
          <div
            class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between w-full"
          >
            <div class="w-full">
              <h4
                class="text-lg font-semibold text-gray-800 dark:text-white/90 mb-6"
              >
                Address
              </h4>
              <div
                class="grid grid-cols-2 gap-4 xs:grid-cols-2 lg:gap-7 2xl:gap-x-32"
              >
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Name
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Mr. BIT SCHOLARS
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Email
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    <a href="mailto:pcei98@gmail.com">pcei98@gmail.com</a>
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    City
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Amalner (Jalgaon)
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    District
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    Jalgaon
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    State
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    MAHARASHTRA
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    PIN Code
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    425401
                  </p>
                </div>
                <div>
                  <p
                    class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400"
                  >
                    Country
                  </p>
                  <p
                    class="text-sm font-medium text-gray-800 dark:text-white/90"
                  >
                    India
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
